{% extends 'mainbase.html.twig' %}
{% block main %}
<main id="item-main">
    <div class="item-first-layer-container">
        <div class="item-image">
            <img src="{{ product.imageUrl(550, 400) }}" alt="">
        </div>
        <div class="item-menu">
            <div class="item-name-container">
                <h3>{{ product.name }}</h3>
                <h5>{{ product.category|replace({'_': ' '}) }}</h5>
                <h5>Rating: {{ product.rating }}</h5>
            </div>
            <div class="item-price-container">
                <h5>${{ product.price }}</h5>
            </div>
            <div class="item-desc-container">
                <p>
                    {{ product.description }}
                </p>
            </div>
            <div class="item-form">
            {{ form_start(form) }}
            </div>
            {{ form_row(form.submit, {'label': 'Purchase'}) }}
            <div class="item-form">
            {{ form_end(form) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}