<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <title>Homepage</title>
    </head>
    <body id="main-body">
    <header>
            <div class="left-header">
                <nav class="nav-container">
                    <ul>
                        <li>
                            <a href="{{ path('app_homepage') }}">HOMEPAGE</a>
                        </li>
                        <li>
                            <a href="{{ path('app_products') }}">PRODUCTS</a>
                        </li>
                        <li>
                            <a href="{{ path('app_about') }}">ABOUT</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="middle-header">
                <div class="icon-ph">
                </div>
            </div>
            <div class="right-header">
                {% if not app.user %}
                    <div class="sample-container">
                    <a href="{{ path('app_sample') }}#form">REQUEST SAMPLE</a>
                </div>
                    <div class="icons-container">
                        <a href="{{ path('app_login') }}" class="header-icon-link">
                            <span class="material-symbols-outlined">
                                person
                            </span>
                            <p>Log in</p>
                        </a>
                        <a href="{{ path('app_login') }}" class="header-icon-link" type="button">
                            <span id="shopping_cart" class="material-symbols-outlined">
                                shopping_cart
                            </span>
                            <p>Cart</p>
                        </a>
                    </div>
                {% else %}
                    <div class="sample-container">
                        <h3>Hello, </h3>
                        <h3>{{app.user.slug | capitalize }}</h3>
                    </div>
                    <div class="icons-container">
                        <a href="{{ path('app_logout') }}" class="header-icon-link">
                        <span class="material-symbols-outlined">
                            person
                        </span>
                            <p>Log out</p>
                        </a>
                        <a href="{{ path('app_cart') }}" class="header-icon-link" type="button">
                        <span id="shopping_cart" class="material-symbols-outlined">
                            shopping_cart
                        </span>
                            <p>Cart</p>
                        </a>
                        <a href="{{ path('app_addProduct') }}" class="header-icon-link" type="button">
                        <span id="add_box" class="material-symbols-outlined">
                            add_box
                        </span>
                            <p>Add product</p>
                        </a>
                    </div>
                {% endif %}
            </div>
        </header>
        {% block main %}
        {% endblock %}
    </body>
</html>
